//- Include Local Data --------------------------------------------------------------------->
- const base = ""


//- Include Head   --------------------------------------------------------------------->
include ../includes/head


<main class="content">

<!-- Título principal de la página -->
<h1>¿Ganas de Divertirte?</h1>

<!-- Descripción breve o eslogan debajo del título -->
<p>Vive lo mejor de las fiestas modernas en TicketPass</p>

</main>




//- Local Widget Components  --------------------------------------------------------------------->



//- Local Libs  ---------------------------------------------------------------------------------->



//- Local Configs  ------------------------------------------------------------------------------->



//- Local JS Script ------------------------------------------------------------------------------->
script.
    console.log("Hola Mundo desde Jade/Pug Project 😎")


//- Include Footer  ------------------------------------------------------------------------------>
include ../includes/footer