

mixin example_component_use( parameter_1 , parameter_2)
    - const variable = 'Example Variable'

    <ul>
        <li>#{ parameter_1 }</li>
        <li>#{ parameter_2 }</li>
        <li>#{ variable }</li>
    </ul>



