//-<script>
-

    //- JavaScript ® Fundamentals --------------------------------------------------------------------->
    programs.courses.push({

        name: 'JavaScript ® Fundamentals',
        type: 'curso',
        category: 'fullstack',
        color: 'amber',
        active: true,
        brochure_id: '1AVFLLgVTazbt-y7fE9odkb6pcBezBBJs6IM6EtUBdW0',
        labels_ids: '67c7ba88dc36b7845eb380d1',

        temary: [

            {
                session: 'Configuración de Ambiente',

                block: [

                    'Configuración de Servidor Remota',
                    'Configuración de Línea de Comandos',
                    'Configuración de IDEs JetBrains',

                ]
            },


            {
                session: 'Introducción a la Sintaxis de JavaScript',

                block: [

                    'Sintaxis de JavaScript',
                    'Scopes, Hoisting & Coerción',
                    'Tipos de Datos en JavaScript',

                ]
            },

            {
                session: 'Arrays & Métodos de Array en JavaScript',

                block: [

                    'Introducción a los Arrays en JavaScript',
                    'forEach(), find(), sort(), some(), every()',
                    'map(), filter(), reduce()',

                ]
            },

            {
                session: 'Operadores, Flujo de Control & Bucles en JavaScript',

                block: [

                    'Operadores en JavaScript',
                    'Flujo de Control IF, ELSE, SWITCH',
                    'Bucles FOR, WHILE, FOR IN, FOR OF',

                ]
            },

            {
                session: 'Funciones & Objetos en JavaScript',

                block: [

                    'Funciones en JavaScript',
                    'Objetos en JavaScript Parte I',
                    'Objetos en JavaScript Parte II',

                ]
            },


            {
                session: 'Proyecto Final',

                block: [

                    'Proyecto Final: Parte I',
                    'Proyecto Final: Parte II',
                    'Proyecto Final: Parte III',

                ]
            },



        ],


    })


    //- React ® Fundamentals --------------------------------------------------------------------->
    programs.courses.push({

        name: 'React ® Fundamentals',
        tyoe: 'curso',
        category: 'fullstack',
        color: 'cyan',
        active: true,
        brochure_id: '1172Ga4D6yEQZeZfNNlG2OSoLeaFEo0pmB8oYLLUGaEM',
        labels_ids: '67c7ba5b4ca563c4935f3bd6',


        temary: [

            {
                session: 'React Configuración de Ambiente',

                block: [

                    'React Configuración de Servidor Local',
                    'React Configuración de Linea de Comandos',
                    'React Configuración de IDEs JetBrains',

                ]
            },


            {
                session: ' Introducción a React y su Ecosistema',

                block: [

                    'Fundamentos de React',
                    'JSX y Componentes',
                    'Props y Estado',

                ]
            },

            {
                session: 'Manejo de Eventos y Renderizado',

                block: [

                    'Eventos en React',
                    'Renderizado Condicional y Listas',
                    'Estilización en React',

                ]
            },

            {
                session: 'Hooks y Ciclo de Vida',

                block: [

                    'Introducción a Hooks',
                    'Efectos y Llamadas a APIs',
                    'Custom Hooks',

                ]
            },

            {
                session: 'Rutas y Gestión de Estado Avanzada',

                block: [

                    'React Router',
                    'Context API y Reducers',
                    'Manejo de Formularios',

                ]
            },


            {
                session: 'Proyecto Final',

                block: [

                    'Proyecto Final: Parte I',
                    'Proyecto Final: Parte II',
                    'Proyecto Final: Parte III',

                ]
            },



        ],


    })



//-</script>