//-<script>

-

    //- Warehouse Sessions ------------------------------------------------------------------------------------------------>
        events.inperson_events.push({
            name: 'Warehouse Sessions',
            type: 'inperson_events',
            category: 'Techno',
            place: "Underground Club",
            date: '12/07/2025',
            start_time: '22:00',
            end_time: '06:00',
            price_from: '25000'
        })

    //- Neon Nights ------------------------------------------------------------------------------------------------------->
        events.inperson_events.push({
            name: 'Neon Nights',
            type: 'inperson_events',
            category: 'House',
            place: "Rooftop Paradise",
            date: '18/07/2025',
            start_time: '23:00',
            end_time: '05:00',
            price_from: '45000'
        })

    //- Bass Overdrive ---------------------------------------------------------------------------------------------------->
        events.inperson_events.push({
            name: 'Bass Overdrive',
            type: 'inperson_events',
            category: 'Trance',
            place: "Industrial Zone",
            date: '20/07/2025',
            start_time: '21:00',
            end_time: '04:00',
            price_from: '55000'
        })

    //- Sunset Rave ------------------------------------------------------------------------------------------------------->
        events.inperson_events.push({
            name: 'Sunset Rave',
            type: 'inperson_events',
            category: 'Drum & Bass',
            place: "Beach Club",
            date: '25/07/2025',
            start_time: '18:00',
            end_time: '02:00',
            price_from: '75000'
        })

    //- Electric Storm ---------------------------------------------------------------------------------------------------->
        events.inperson_events.push({
            name: 'Electric Storm',
            type: 'inperson_events',
            category: 'Progressive',
            place: "Mega Arena",
            date: '31/07/2025',
            start_time: '20:00',
            end_time: '06:00',
            price_from: '120000'
        })

    //- Deep House Vibes -------------------------------------------------------------------------------------------------->
        events.inperson_events.push({
            name: 'Deep House Vibes',
            type: 'inperson_events',
            category: 'Dubstep',
            place: "Secret Location",
            date: '02/08/2025',
            start_time: '22:30',
            end_time: '05:30',
            price_from: '35000'
        })

//-</script>
