//-<script>
-


    //- Random_Hash() -> 902953831584630
    const Random_Hash = () => {
        const min = 100000000000000;
        const max = 999999999999999;
        return Math.floor(Math.random() * (max - min)) + min;
    };




//-</script>