



//-</script>

    //-<script>
-

    let events = {

        inperson_events: [],

        category_events: [

            {name: "techno", description: "Beats hipnóticos underground que te transportan a otro mundo"},
            {name: "house", description: "Grooves contagiosos que hacen vibrar cada rincón"},
            {name: "trance", description: "Viajes sonoros épicos llenos de energía celestial"},
            {name: "drum & bass", description: "Energía pura a 175 BPM que acelera tu corazón"},
            {name: "progressive", description: "Evolución musical que construye momentos únicos"},
            {name: "dubstep", description: "Evolución musical que construye momentos únicos"},

        ]


    }


    //-</script>



//- Include Collections
include collections/inperson_events

