//-<script>
-

    //- Variables Globales y Constantes
    const whatsapp = "+56961923035";
    const address = "Av. Apoquindo #6410, OF. 605, Las Condes, Santiago, Chile";


    //- Fechas Dinámicas
    const current_year = new Date().getFullYear();
    const next_year = current_year + 1;
    const year_after_next = next_year + 1;


    //- Objeto de Prueba
    let programs = {

        courses: [],
        bootcamps: [],
        workshops: [],
        events: [],
        books: []

    }



//-</script>




//- Include Collections
include collections/courses